.stitch-theme { color: #fff; background-color: #111 !important; fill: #111 }
.stitch-text-theme { color: #fff; }

.stitch-chart-theme-1  { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-2  { fill: #111; stroke: #fff }
.stitch-chart-theme-3  { fill: #edc233; stroke: #fff }
.stitch-chart-theme-4  { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-5  { fill: #111; stroke: #fff }
.stitch-chart-theme-6  { fill: #edc233; stroke: #fff }
.stitch-chart-theme-7  { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-8  { fill: #111; stroke: #fff }
.stitch-chart-theme-9  { fill: #edc233; stroke: #fff }
.stitch-chart-theme-10 { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-11 { fill: #111; stroke: #fff }
.stitch-chart-theme-12 { fill: #edc233; stroke: #fff }
.stitch-chart-theme-13 { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-14 { fill: #111; stroke: #fff }
.stitch-chart-theme-15 { fill: #edc233; stroke: #fff }
.stitch-chart-theme-16 { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-17 { fill: #111; stroke: #fff }
.stitch-chart-theme-18 { fill: #edc233; stroke: #fff }
.stitch-chart-theme-19 { fill: #98a4a6; stroke: #fff }
.stitch-chart-theme-20 { fill: #111; stroke: #fff }
.stitch-chart-theme-21 { fill: #edc233; stroke: #fff }
.stitch-chart-theme-22 { fill: #98a4a6; stroke: #fff }

.stitch-chart-text-theme-1, .stitch-chart-text-theme-2, .stitch-chart-text-theme-3, 
.stitch-chart-text-theme-4, .stitch-chart-text-theme-5, .stitch-chart-text-theme-6,
.stitch-chart-text-theme-7, .stitch-chart-text-theme-8, .stitch-chart-text-theme-9, 
.stitch-chart-text-theme-10, .stitch-chart-text-theme-11, .stitch-chart-text-theme-12, 
.stitch-chart-text-theme-13, .stitch-chart-text-theme-14, .stitch-chart-text-theme-15, 
.stitch-chart-text-theme-16, .stitch-chart-text-theme-17, .stitch-chart-text-theme-18,
.stitch-chart-text-theme-19, .stitch-chart-text-theme-20, .stitch-chart-text-theme-21, 
.stitch-chart-text-theme-22 { fill: #fff }
